*.a
*.o
*.tmp
*~
*.[158].html
ANNOUNCEMENT
AUTOFILES
ChangeLog
Makefile
README
SRCFILES
TARGETS
/bcron-exec
/bcron-parse
/bcron-sched
/bcron-spool
/bcron-start
/bcron-unparse
/bcron-update
/bcrontab
bcron.html
bcron.info
compile
conf-bgincs
conf-bglibs
conf-bin
conf-cc
conf-ld
conf-man
conf_sendmail.c
load
makelib
shiftime.so
/tests.sh
/test-sched
/debian/.debhelper/
/debian/*.substvars
/debian/bcron-run/
/debian/bcron/
/debian/debhelper-build-stamp
/debian/files
/debian/tmp/
