*.a
*.o
*.[158].html
ANNOUNCEMENT
AUTOFILES
ChangeLog
Makefile
README
SRCFILES
TARGETS
bcron-exec
bcron-parse
bcron-sched
bcron-spool
bcron-start
bcron-unparse
bcron-update
bcron.html
bcron.info
bcrontab
compile
conf-bgincs
conf-bglibs
conf-bin
conf-cc
conf-ld
conf-man
load
makelib
shiftime.so
test-sched
